
/*como recomendación este codigo siempre debe de existir
en tus archivos css para resetear los valores y evitar que los elementos generen scroll*/
*{
    box-sizing: border-box;/*Sirve para restar el tamaño del paddin y border y evitar que haga scroll*/
    padding:0;
    margin: 0;
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}